---
import Layout from '../layouts/Layout.astro';
import FontTest from "../components/FontTest.astro";
---

<Layout title="Om mig">
	<main>
		<p>About me bitches</p>
	</main>
</Layout>

<style>
	main {
		min-height: 100dvh;
		background-color: #F8F8FF;
	}
</style>
