---
import Layout from '../layouts/Layout.astro';
import FontTest from "../components/FontTest.astro";
---

<Layout title="Velkommen">
	<main>
		<FontTest/>
	</main>
</Layout>

<style>
	main {
		height: 100dvh;
		background-color: #F8F8FF;
	}
</style>
