---
import Layout from '../layouts/Layout.astro';
import FontTest from "../components/FontTest.astro";
---

<Layout title="Forløb & priser">
	<main>
		<p>Forløb</p>
        <p>Priser</p>
	</main>
</Layout>

<style>
	main {
		min-height: 100dvh;
		background-color: #F8F8FF;
	}
</style>
